body {
    margin: 0;
    padding: 0;
    background: lightgrey;
}

#animate-me {
    width: 150px;
    height: 150px;
    border: 1px solid red;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes myAnimation {
    0% { 
        border-radius: 0 0 0 0;
        left: 0px;
        top: 0px;
    }
    25% { 
        border-radius: 50% 0 0 0;
        background: tomato;
        left: 200px;
        top: 0px; 
    }
    50% { 
        border-radius: 50% 50% 0 0; 
        left: 200px;
        top: 200px;
    }
    75% { 
        border-radius: 50% 50% 50% 0;
        left: 0px;
        top: 200px;}
    100% { 
        border-radius: 50%;
        left: 0px;
        top: 0px;
    }
}