body {
    height: 100%;
}

.pet1, .pet2, .pet3, .pet4{
    border: 1px solid blue;
    height: 500px;
}

.header{
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;
}
.header h1 {
    color: #0077b5;
}
.header a{
    display: inline-block;
    padding: 15px;
    text-decoration:none;
    color: white;
    background: tomato;
    border-radius: 5px;
}