body {
    height: 100%;
}

video {
    position: fixed;
    top:0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.8;
}

div {
    width: 80%;
    margin: 0 auto;
    margin-top: 15%;
}

h1 {
    background-color: tomato;
    border-radius: 10px;
    color: white;
    font-size: 2em;
    padding: 10px;
    text-align: center;
}

p {
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
}

a {
   display: block;
   width: 80%;
   margin: 0 auto;
   text-decoration:  none;
   background-color: #0077b5;
   color: #fff;
   padding: 5px;
   border-radius: 5px;
   font-size: 2em;
   font-weight: bold;
   text-align: center;
}