* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    background: radial-gradient(tomato, white);
}

.wrapper {
    border: 5px solid black;
    border-radius: 7px;
    background: white;
    width: 70%;
    height: 80%;
    margin: 0 auto;
    margin-top: 10%;
}

.header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border-bottom: 2px dashed grey;
    font-weight: bold;
    font-size: 1.6em;
}

.list {
    width: 100%;
}

.list ol {
    list-style-type: none;
}

.list ol li {
    padding: 15px;
}


input[type='checkbox'] {
    border: 1px solid yellow;
    position: relative;
    float: right;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

