* {
    margin: 0;
    padding: 0;
}

body {
    background: lightgray;
}

.container {
    width: 80%;
    margin: auto;
    padding: 25px;
}

.container h1 {
    text-align: center;
    padding: 10px;
    color: tomato;
}

form {
    padding: 25px;
}

#item {
    border-radius: 5px;
    padding: 3px;
    width: 250px;
    display: block;
}

#formSubmit {
    padding: 5px;
    border-radius: 5px;
    background-color: blueviolet;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
}

#formSubmit:hover {
    background-color: tomato;
}

.container ul{
 list-style-type: none;
 padding: 10px;
}

.container ul li {
    border: 1px solid tomato;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 3px;
}