* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
}

header {
    background-color: lightslategray;
    padding: 30px;
}

header h2 {
    font-weight: bold;
    text-align: center;
}

nav {
    padding: 20px;
}

nav ul {
    width: 70%;
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

section {
    float: left;
    width: 70%;
    box-sizing: border-box;
}

section article {
    width: 90%;
    margin: auto;
    padding: 5px;
    background-color: lightslategray;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

aside {
    float: right;
    width: 30%;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
footer {
    margin: 50px;
}

