* {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid red;
}
.container {
    height: 500px;
    width: 500px;
    background: grey;
    margin: auto;
    margin-top: 10vh;
    position: relative;
}

.relative {
    position: relative;
    top: 20px;
    left: 20px;
    height: 50px;
}

.absolute {
    position: absolute;
    bottom: 20px;
    width: 100%;
    right: 40px;
}

.sticky {
    position: sticky;
    left: 0;
    top: 230px;
    width: 100px;
}
