body {
    height: 100%;
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

ul {
    /* border: 1px solid red; */
    list-style-type:  none;
    margin: 0;
    padding: 0;
    /* background-color: black; */
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

li {
    /* border: 1px solid green; */
    float: left;
}

.right {
    float: right;
}

a {
    display: block;
    padding: 15px;
    text-decoration: none; 
    text-align: center;
    color: #fff;
    font-size: 1.2em
}

a:hover {
    background-color: tomato; 
}

.active {
    background-color: lightgreen;
}

